<div class="container">
  <mat-card class="example-card">
    <img mat-card-image src="/assets/images/1.jpg" alt="cover" />
    <mat-card-header>
      <mat-card-title>Artist</mat-card-title>
      <mat-card-subtitle>Album</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>Text here</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-flat-button color="primary">To Basket</button>
      <button mat-flat-button color="primary">Details</button>
    </mat-card-actions>
  </mat-card>
</div>
