<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer" *ngIf="editMode"></span>
      <button mat-flat-button color="basic" (click)="openDialog()"
        >Add Product</button
      >
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card" *ngFor="let product of products">
    <img
      class="product-image"
      mat-card-image
      src="{{ product.image }}"
      alt="cover"
    />
    <mat-card-header>
      <mat-card-title>{{ product.artist | titlecase }}</mat-card-title>
      <mat-card-subtitle>{{ product.album }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Year: {{ product.year }}</p>
      <p>Price: {{ product.price | currency }}</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-flat-button color="primary">To Basket</button>
      <button mat-flat-button color="primary" [routerLink]="[product.id]"
        >Details</button
      >
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteProduct(product.id)"
          >Delete</button
        >
        <button mat-menu-item>Edit</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
