<div class="container">
  <mat-card class="example-card">
    <img
      class="product-image"
      mat-card-image
      src="{{ product.image }}"
      alt="cover"
    />
    <mat-card-header>
      <mat-card-title>{{ product.artist | titlecase }}</mat-card-title>
      <mat-card-subtitle>{{ product.album }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Year: {{ product.year }}</p>
      <p>Price: {{ product.price | currency }}</p>
      <p>Genre: {{ product.configuration.genre | titlecase }}</p>
      <p>Edition: {{ product.configuration.edition | titlecase }}</p>
      <p>Condition: {{ product.configuration.condition | titlecase }}</p>
      <p>Bestseller: {{ product.configuration.bestseller ? 'Yes' : 'No' }}</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-flat-button color="primary">To Basket</button>
      <button mat-flat-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
